{% extends 'auth/base.html' %}

{% block title %}Вход{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="font-italic text-center mb-4">Аунтефикация</h1>
    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-6">
            {% for message in get_flashed_messages() %}
            <p class="errors my-3">{{ message }}. Вам сначала нужно <a href="{{ url_for('auth.singup') }}">зарегистрироваться.</a></p>
            {% endfor %}
            <form method='POST'>
                {{ form.csrf_token }}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <div class="errors my-3">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form-group mb-3">
                    {{ form.username.label(class="col-form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="errors my-3">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form-group mb-3">
                    {{ form.password.label(class="col-form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <button type="submit" class="px-5 mt-3 mb-5 btn btn-primary">Войти</button>
            </form>  
        </div>
    </div>
</div>
{% endblock content %}